/*Inicializacion*/

* { 
    margin: 0;
    box-sizing:border-box;
    background: #23232D;
    overflow: hidden;
    font-family: belwe;
    font-weight: 300;
    -webkit-user-select:none;
    -ms-user-select: none;
    user-select: none;
}

body {
    cursor: url('img/sys/cursorHand.png'),auto;
}


/*traduccion de google*/
* font { background: transparent; font-weight: 400; }

*::-webkit-scrollbar { display: none; }

@font-face { font-family: belwe; src: url(font/belwe.ttf); }

/*Barras principales*/

.bLateral { 
    height: 100%; width: 14%; background: #23232D; float: left; position: relative; z-index: 2; display: flex; flex-direction: column;
}

.bSuperior { 
    height: 6%; width: 86%; background: #31313D; box-shadow: 0px -5px 38px 2px rgba(0, 0, 0, 0.48); position: relative; float: up; z-index: 1; margin-left: 14%; display: flex; overflow: visible;
}

.bInferior { 
    height: 94%; width: 86%; background: linear-gradient(226deg, #262637 53.65%, #442F39 100%); position: relative; margin-left: 14%; overflow: scroll; display: flex; align-content: center; justify-content: center; background-image: url(img/sys/fondo.png); background-size: 100% 100%; background-position: center; 
}

/*-------------------limbo-------------------*/


#tooltip { 
    position: absolute;
    z-index: 14;
    width: 20%;
    height: auto;
    border: white solid 1px;
    filter: drop-shadow(0px 6px 0px #21191e);
    border-radius: 0.1vw;
    background: linear-gradient(335deg, #464052 0%, #333140 43.75%, #31313D 100%);
    background-image: url(img/sys/fondotooltip.png);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: all 0.1s;
    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.2) inset;
    overflow: visible;
    pointer-events: none; 
    animation: growFadeIn 0.3s;
    font-size: 0.83vw;
}

#tooltip .separador{width: 100%; margin: 1% 0;}

#upperTooltip{
    background: transparent;
    height: 9vh;
    width: 19.8vw;
    display: flex;
}

.upperTooltipLeft{
    background: transparent;
    height: 100%;
    width: 23%;
    display: flex;
}

#tooltipImage{height: auto; margin: 5%; background: transparent; border: solid 1px black;}

.upperTooltipRight{
    background: transparent;
    height: 100%;
    width: 70%;
    display: flex;
}

#tooltipPrice { 
    width: 30%; text-align: right; background: transparent; color: #7EFF69; font-size: 0.85vw; position: absolute; right: 2%; top:2.4%
}

#tooltipPrice img { 
    width: 0.8vw; height: 1.6vh; transform: translateY(3px); background: transparent; border-radius: 4px; 
}



#tooltipTitle{width: 47%; height: auto; padding-top: 1%; font-size: 1vw; position: absolute; background: transparent; color:#1EFF0C; overflow: visible;}

#tooltipName{background: transparent;}

#tooltipRarity { 
    background: black; border-radius: 4px; padding: 0% 2%; font-weight: 600; color:#1EFF0C; display: inline-block; font-size: 0.89vw; margin-top: 2%; margin-left: -1%
}

.lowerTooltip{
    background: transparent;
    height: auto;
    width: 100%;
}

#tooltipDescription { 
     background: transparent; padding: 0 4%;
}

#tooltipDescription img{ height: 2vh; width: 2vh; background: transparent; transform: translateY(5px)}

#tooltipFlavor { 
    text-align: right; background: transparent; color: darkgray; margin-top: 1%; margin-left: auto; margin-right: 1%; padding: 0 2%; margin-bottom: 1.5%
}

#tooltipArrow { 
    height: 20px;
    width: 30px;
    position: absolute;
    background: transparent;
    bottom:0;
    transform: translateY(17px);
    right: 10%;
}

#tooltipArrowUp { 
    height: 20px;
    width: 30px;
    position: absolute;
    background: transparent;
    top:0;
    transform: translateY(-17px) rotate(180deg);
    right: 10%;
}

#tooltipArrowRight { 
    height: 20px;
    width: 30px;
    position: absolute;
    background: transparent;
    bottom:0;
    transform: translateY(-17px) translateX(22px) rotate(-90deg);
    right: 0%;
}







.dynamicSpark{
    display: flex;
    background: transparent;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    overflow: visible;
    transform-origin: center;
    
}
.dynamicSpark img{height: 100%;background: transparent;}


.textoClick { 
    display: flex;
    background-color: transparent;
    height: 2vw;
    width: 9vw;
    align-items: center;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    overflow: visible;
    animation: bounceFade 0.5s ease-in-out;
    transform-origin: left;
}

.textoClick img { 
    background-color: transparent; display: flex; height: 80%; width: 20%; margin-left: 3%; border-radius: 200vw; transform: translateY(-4px)
}

.textoClick p { 
    background-color: transparent; 
    display: flex; 
    overflow: visible; 
    color: white; 
    font-size: 1.1vw; 
    font-weight: 500;
    /*this goes so hard*/
    text-shadow: 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black, 0 0 0.2vw black;
    animation: textoclick 2s infinite; }

.candado { 
    border: none;
    height: 15px;
    background: transparent;
    width: 15px;
    position: absolute;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align:center;
    justify-content:center;
    overflow: visible;
}

.candado img {

    max-width: 250px;
    max-height: 250px;
    position: absolute;
    display: inline;
    object-fit: cover;
    overflow: visible;
    align-self: center;
    justify-self: center;
    transform: scale(1.5);
    filter: grayscale(0.5)
}

.candado:active {
    animation: noBuyAnimation 0.15s;
}

/*opciones*/

.optionsWrapper {
    background: transparent;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.panelOpciones {

    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    height: 60%;
    width: 35%;
    border: white solid 2px;
    filter: drop-shadow(0px 6px 0px #21191e);
    border-radius: 0.1vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
    color: white;
    transition: all 0.2s;
    background-image: url(img/sys/fondonegro.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: growFadeIn 0.25s;
    overflow-y: scroll;
    scroll-padding-top: 20px;


}

#deleteData {
    height: 35%;
    width: 25%;
    text-align: center;
    padding: 0.5% 1%;
    overflow: visible;
    animation: gelatine 0.3s;
}

#deleteData strong {
    color: red;
    font-weight: 700;
    background: transparent;
}

#deleteData button {
    margin-top: 2%;
    height: 140%;
    width: 35%;
    
}

#boughtUpgradesButton{
    background: #6f6475;
    padding: 0.7%;
    color: white;
    font-weight: 500;
    border-radius: 0.1vw;
    font-size: 1vw;
    transition: 0.1s;
}

#boughtUpgradesButton:hover{
    color:black;
    background: white;
    
}

#boughtUpgrades {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 4%;
    max-height: 60%;
    min-height: 60%;
    
}

#boughtUpgradesPanel h2{
    font-size: 1vw;
    background: transparent;
    
}

#boughtUpgradesPanel {
    z-index: 12;
    animation: none;
}

.boughtUpgradesInfo{
        background: transparent;
display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    gap:20%;
        overflow: visible;

}


.panelOpciones h1 {
    font-size: 1.5vw;
    text-align: center;
    background: transparent;
    line-height: 40px;
}

.panelOpciones p {
    background: transparent;
    text-align: center;
    color: gray;
    overflow: visible;

}

.panelOpciones img {

    height: 90px;
    width: 90px;
    align-self: center;
    background: transparent;
    margin-top: 2%;
}

.panelOpciones h2 {
    background: transparent;
    margin-left: 3%;
    font-weight: 500;
    margin-bottom: -3%;
}

.panelOpciones button {

    height: 100%;
    width: 15%;
    color: white;
    vertical-align: middle;
    border: white solid 1px;
    margin-left: 3%;
    transition: all 0.1s;
    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.4) inset;

}

.panelOpciones button:hover {

    transform: scale(1.1);
    color: black !important;
    background: white !important;
    font-weight: bold !important;
    box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0.4) inset;

}

.panelOpciones button:active {
    transform: scale(1);

}

.panelOpciones span {
    overflow: visible;
    background: transparent;
    margin-bottom: 1%;
        overflow: visible;

}

.panelOpciones h1 img {

    height: 40px;
    width: 40px;
    position: absolute;
    right: 2%;
    top: -1%;
    border-radius: 3px;
    

}



.panelOpciones h3 {
    background: transparent;
    color: gray;
    margin-left: 4%;
    margin-bottom: 1%;
    overflow: visible;
}

.numeroEstadisticas {
    color: white;
    font-weight: 400;
}

#turtleRename {
    height: 16%;
    width: 20%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5%;
}

#turtleRename input{
    color: white;
    width: 60%;
    height: 80%;
    font-size: 1vw;
    text-align: center;
    border: white 1px solid;
    margin-top: 2%;
    
}

#turtleRename span{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

#turtleRename img {
    height: 80%;
    width: 10%;
        margin-left: 2%;
        

}

#changelog span {

    margin-left: 3%;
}

#changelog h3 {

    align-self: center;
    margin-top: auto;
    
}

#panelAutosave {
    height: 4%;
    width: 15%;
    display: flex;
    flex-direction: row;
    color: gray;
    justify-content: center;
    align-items: center;
    border: 0px white solid;
    font-size: 0.3vw;
    animation: gameSaved 2s;
    opacity: 0;
    top: 0%;
    right: 0;
    bottom: -95%;
    left: 0;
}

#panelAutosave img {

    height: 90%;
    width: 11%;
    margin-bottom: 2%;
    margin-right: 2%;
}

#achievementPopup {
    height: 7%;
    width: 20%;
    display: none;
    flex-direction: column;
    color: white;
    border: 0px white solid;
    animation: achievementUnlock 2.5s ease-in;
    font-size: 1vw;
    opacity: 1;
    top: 0%;
    right: 0;
    bottom: -90%;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #966a30;
}

#achievementPopup:after {

    animation: shine 2s ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%);
}

#achievementPopup img { height: 100%; width: 7%; margin-right: 1%; transform: translateY(-4px)
}

#achievementPopup h2 {font-size: 0.9vw; justify-self: center; font-weight: 300;}
#achievementPopup span {height: 33%; width: 100%; background: transparent; justify-content: center; align-content: center; display:flex; font-weight: 500; flex-shrink: 0;
}



#cheatPanel {
    height: 10%;
    width: 20%;
    right: 55%;
    top: 70%;
    left:10%;
    padding: 0.2%;
    flex-wrap: wrap;
    overflow: visible;
    align-items: center;
    justify-content: center;
}

#cheatpanel h3 {
    bottom: 100%;
    position: absolute;
    background: black;
    padding: 1%;
    right: 50%;
}

#cheatPanel button {
    height: 50%;
    width: 15%;
    margin: 0%;

}

#bodyCover { 
z-index: 10;
display: none;
position: absolute;
background: transparent;
height:100%;
width: 100%;

}

#penguinRecap {
    height: 7%;
    width: 37%;
    display: flex;
    flex-direction: row;
    color: white;
    border: 0px white solid;
    font-size: 0.8vw;
    top: 0%;
    right: 0;
    bottom: -90%;
    left: 0; 
    align-items: center;  
    animation: gelatine 0.3s;
}



#penguinRecap p{ text-align: left; margin-left: 2%;}
#penguinRecap .flex {width: 87%; background: transparent;}
#penguinRecap span{color: #7EFF69; font-weight: 400; }
#penguinRecap h2{position: absolute; right: 1.5%; top: 2%; }
#penguinRecap strong{color: white;}
#penguinRecap img{height: 80%;width: 7%; justify-self: center; margin: 0 0 0 2%}
#penguinRecap span img{height: 20%; width: 2.6%; margin: 0; transform: translateY(1px)}

#unlockPanel {
    
   position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    width: 100%; 
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    transition: all 1s;
    flex-direction: column;
    font-weight: 500;
    color: white;
    opacity: 0;
    
}

#unlockPanel p{margin-top: 24%; font-weight: 500; background: transparent; display: none; transition: all 1s; opacity: 0;}
#unlockPanel strong{ background: #74637a; font-weight: 600; border-radius: 4px;}
#unlockAnimation {background: transparent; width: 15%; position: absolute; top: 23%; }
#unlockedItem {background: transparent; width: 6%; position: absolute; top: 33%; animation: gelatine 0.3s; display: none;}
#unlockedAura {background: transparent; width: 10%; position: absolute; top: 29%; right: 44.6%; animation: rotate 5s linear infinite;  display: none;}
#unlockPanel span{ font-weight: 300;background: transparent; display: none; opacity: 0;transition: all 1s;}

@keyframes rotate {
    0% {
        transform-origin: center;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

#jesterTurtle {
    position: absolute;
    z-index: 1;
    background: transparent;
    height: 20%;
    left: 5%;
    top:30%;
    animation: jester 7s ease-out infinite;
    transform: rotate(-70deg);
    
    transition: 0.3s;
}
#jesterTurtle img{background: transparent; height: 100%; transition: 0.2s;}
#jesterTurtle img:hover{ transform: scale(1.1); filter: brightness(1.2)}

@keyframes jester { 
    
    20% {transform: scale(1.05) rotate(10deg); left:12%}
    40% {transform: scale(1.0) rotate(10deg); left:12%}
    60% {transform: scale(1.05) rotate(10deg); left:12%}
    80% {transform: scale(1.0) rotate(10deg); left:12%}
    100% {transform: rotate(-65deg); left:05%}
    
    
}

#buffList{
    position: absolute;
    height: 17%;
    width: 20%;
    bottom: 7%;
    left:5%;
    background: transparent;
}

#buffWrapper{
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    
}

.buffSlot {
    border-radius: 2px;
    box-shadow: 0px 11px 11px 1px rgba(0, 0, 0, 0.24) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    background: linear-gradient(347deg, rgba(36, 95, 110, 1) 0%, rgba(49, 49, 61, 1) 45%);
    box-shadow: 0px 11px 11px 1px rgba(0, 0, 0, 0.24) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    border: #DFB474 solid 1px;
    margin: 0.46%;
    margin-top: 5%;
    height: 25%;
    width: 70%;
    display: flex;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
     
}

.buffSlot img{height: 80%;}

.buffTimer{
  transform-origin: top;
  width: 70%;
  height: 25%;
  background: rgba(30,10,30,0.8);
  position:absolute;
    border-bottom: white 2px solid;
    pointer-events: none;
}




/*-----------------------contenido--------------------------*/

/*-----------Barra Lateral-----------*/

/*Header*/

.bannerLateral {
    height: 6.57%;
    width: 100%;
    background: #23232D;
    background-image: url(img/sys/bTurtle.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -50% 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);
}


.bannerLateral h1 {
    color: white;
    background-color: transparent;
    margin-left: 20%;
    font-size: 1.2vw;
    ;


}

.bLateral h2 {
    text-align: center;
    font-size: 1vw;
    color: white;
    margin-bottom: 5%;
    margin-top: 2%;
}

.bLateral h2 strong {
    text-align: center;
    font-size: 1vw;
    color: FFB92E;

    


}

.blateral h2 strong:hover {

    font-weight: 700;
}

/*Categorias*/

.listaLateral {
    height: 40%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 0.7%;


}

.sinBoton {

    height: 11%;
    width: 80%;

    display: flex;
    align-items: center;
    transition: 0.15s;
    justify-content: center;
    margin: -2% 0;
    background: transparent;
    

}

.sinBoton:hover p {


    font-size: 1.2vw;
    transition: 0.15s;
    font-weight: 600;
    color: FFB92E;


}

.sinBoton p,
.botonLateral p {

    color: white;
    background-color: transparent;

    font-size: 1vw;
    font-weight: 300;
    transition: 0.15s;

}


.botonLateral img {
    height: 22px;
    width: 22px;
    background-color: transparent;
    margin-left: 5%;
    margin-right: 2%;
    border-radius: 3px;

}

.separador {
    margin: 3% 0 3% 0;
    width: 80%;
    height: 1px;
    background: linear-gradient(247deg, rgba(0, 0, 0, 0.00) 0%, rgba(255, 255, 255, 0.19) 24.59%, rgba(255, 255, 255, 0.18) 75.09%, rgba(0, 0, 0, 0.00) 100%);
}



.botonLateral {

    height: 8%;
    width: 97%;
    border-radius: 0px;
    background: #3b313d;
    display: flex;
    align-items: center;
    transition: 0.15s;
    border-top: 1px solid gray;
    margin-top: 1%;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.6)
    
}

.botonLateral:hover {
    background-color: #FFB92E;
    transition: 0.3s;
    height: 8%;

}

.botonLateralActivo{
    background-color: #FFB92E;
    transition: 0.3s;
    border-top: 1px solid black;
}

.botonLateralActivo p {
    color: #31313D;
    transition: 0.15s;
    font-weight: 600;

}

.botonLateral:hover p {
    color: #31313D;
    transition: 0.15s;
    font-weight: 600;

}

.botonLateral:active{
    height: 10%;
    transition: 0.05s;
}

/*Inferior*/

.panelRecursos {
    height: 60%;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column
}

.recursosLateral {
    height: 20%;
    width: 100%;
    background: #31313D;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    margin-top: 60%;
    box-shadow: 0px -3px 6px rgba(0,0,0,0.3)
}

.recursosLateral h1 {
    color: white;
    font-size: 1.1vw;
    background: #23232D;
    padding: 1% 2%;
    border-radius: 0.4vw;

}

.botonRecursos {

    height: 31%;
    width: 94%;
    background-color: #23232D;
    display: flex;
    align-items: center;
    border-bottom: #19191C 5px solid;
    border-radius: 3px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.2)

} 

.botonRecursos p {

    color: white;
    background-color: transparent;
    font-size: 0.9vw;
    font-weight: 400;
    margin-left: auto;
    margin-right: 4%;
}

.botonRecursos strong {

    color: white;
    background-color: transparent;

    font-size: 0.98vw;
    font-weight: 600;
    margin-left: 2%;


}

.redondaBlanca {
    background: white;
    height: 100%;
    width: 12%;
    display: flex;
    background-image: url(img/icon/gear.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    

}

.panelTortuga {
    height: 50%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    background-image: url(img/sys/fondoTortuga.png);
    background-position: center;
    background-size: 400%;
    align-items: center;
    background-position: bottom;
    border: 1px black solid;
}

.nombreTortuga {

    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 13%;
    transform: translate(0, 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nombreTortuga p {
    color: white;
    background-color: transparent;
    font-size: 1.2vw;
    font-weight: 600; 


}

.nombreTortuga p:hover {
    text-shadow: white 0 0 5px;
    

}

.panelTortuga img {

    background-color: transparent;
    display: flex;
    transition: 0.2s;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#sparkleFX {position: absolute; background: transparent; height: 30%; bottom: -2%; pointer-events: none;}

#tortugaClick:hover {
    padding: 5%;
    animation: gelatine 0.3s;
     
}

.flash-animation {
  animation: flash 0.5s;
}

#currentTreaty{height:4.5%; width: 16%; position: absolute; background: transparent; bottom:1%; left: 3%;  }
#currentTreaty img {height: 100%;}
#currentTreaty:hover {animation: gelatine 0.3s;}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes flash {
    0%{transform: scale(1.2); filter: brightness(10)}
    100%{transform: scale(1); filter: brightness(1)}
}

/*------------Barra Superior------------*/

#titleBanner {background: transparent;position: absolute; height: 130%; background-image: url(img/sys/titleBanner.png); width: 33%; background-position: left; background-size: 100%; background-repeat: no-repeat; z-index: -1; margin-left: -3%; overflow: visible; margin-top: 2}

.categoria {

    display: flex;
    background-color: transparent;
    height: 100%;
    width: 30%;
    align-items: center;
    

}

.tCategoria {

    height: 60%;
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

}

.tCategoria img {
    height: 3.5vh;
    width: 1.9vw;
    background-color: transparent;
    display: flex;
    margin-right: 3%;
    margin-left: 10%;
    border-radius: 5px;
}

.tCategoria h1 {
    color: white;
    font-size: 2vw;
    background-color: transparent;
    position: relative;
    margin-right: auto;
    font-weight: 00;
    
    

}

.recursosSuperior {
    background: transparent;
    height: 100%;
    width: 80%;
    display: flex;
    margin-right: 3%;
    justify-content: flex-end;
    padding-right: 1%;
    align-items: center;
    gap: 1.1%;
    overflow: visible;
    

}

.recursoDiv {
    background: transparent;
    height: 30%;
    width: 18%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: visible;
    transition: all 0.2s;
}

.recursosSuperior span {
    background: #6e5f6e;
    color: white;
    font-size: 1.05vw;
    font-weight: 500;
    border-radius: 2px;
    margin-left: -1%;
    padding: 0 3%;
    

}

.recursosSuperior img {
    background: #6e5f6e;
    border-radius: 3px;
    height: 170%;
    width: 25%;
    padding: 2%;
    z-index: 5;
    overflow: visible;
    box-shadow: 3px 1px 6px rgba(0,0,0,0.2);
    margin-left: -1%;
    transition: all 0.2s;
}

.recursosSuperior img:hover{
    
    transform: scale(1.2);
    border: white 1px solid;
    box-shadow: 5px 3px 6px rgba(0,0,0,0.6);
     


    
}

#achievementBanner{
    width: 98%;
    height: 21%;
    display: flex;
    border-radius: 5px  5px 0 0 ;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: -0.5%;
    background: linear-gradient(69deg, rgba(48,39,50,1) 0%, rgba(35,35,45,1) 100%);


}

#achievementBanner span { background: transparent;}
#achievementPanel{ width: 99.3%; }
#achievementLine{ border-bottom: 1px orange solid;}
#achievementBannerImg {height: 50%; margin: 1% 0; background: transparent;}
#achievementBanner h1{ color: white; font-weight: 400; font-size: 1.1vw; margin-bottom: 1%; background: transparent;}
#achievementBanner h1 strong{ color: gold; background: transparent;}
#achievementSeparator {margin: 0;}

#achievementBanner2{
    width: 98%;
    height: 69.6%;
    display: flex;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    justify-content: flex-start;
    background: #1b1b21;
    overflow-y: scroll;
}

#achievementBanner2 h1{ color: white; background: transparent; font-weight: 400; font-size: 1.2vw; align-self: flex-start; margin-left: 2%;}

#achievementBanner2 .separador{ align-self: flex-start; margin: 0 2%; width: 30%;}

.achievementWrapper{
    max-height: 1000px;
    width: 98%;
    display: flex;
    align-self: center;
    background: transparent;
    flex-wrap: wrap;
    transition: 0.1s;
    flex-shrink: 0;
    overflow: visible;
    margin: 0.6%;
}

.achievementSlot {
    background: transparent;
    margin: 0.1%;
    height: 3.73vw;
    width: 3.73vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    overflow: hidden;

}

.achievementSlot img {
    height: 100%;
    background: transparent;
}

.achievementSlot:hover {
    transform: scale(1.2);
    transition: 0.1s;
     
    z-index: 2;
}




/*------------Barra Inferior------------*/


.aldeaTortugaContenido {
    background: transparent;
    height: 96.1%;
    width: 97.3%;
    display: flex;
    margin-top: 1.2%;
    align-items: center;
    flex-direction: column;
}


.panelInferiorAldea {
    background: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0.3%;
    justify-content: center;
}

.panelConstruccion {

    background: linear-gradient(205deg, rgba(55, 34, 47, 1) 0%, rgba(35, 35, 45, 0.7) 41%, rgba(39, 54, 75, 0.6) 100%);
    height: 100%;
    width: 73%;
    display: flex;
flex-shrink: 0;
    border-radius: 5px;
    flex-direction: column;

}

.panelConstruccionTitulo {

    border-bottom: #3EE1FD solid 1px;
    height: 4%;
    width: 110%;
    display: flex;
    align-items: center;



}

.panelConstruccionTitulo span {

    color: white;
    font-size: 1.5vw;
    background: transparent;
    margin-left: 1%;

}


.bannerAldeaRecursos {

    background: #23232D;
    height: 4%;
    width: 96.5%;
    margin-top: 0.7%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);;
}

.bannerAldeaRecursosBoton {
    height: 80%;
    width: 30%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9vw;




}

.bannerAldeaRecursosBoton img {
    height: 85%;
    width: 7%;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;

}

.bannerAldeaRecursosBoton span {
    background: transparent;
    font-weight: 400;



}

.bannerAldeaRecursosBoton strong {
    background: transparent;
    font-weight: 400;
    color: gray;


}





.selectorAldeaEdificio {
    background: #31313D;
    height: 4%;
    margin: 0.8% 0%;
    width: 96.5%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);;
    gap: 0.4%;
}

.selectorAldeaEdificioBoton {
    height: 80%;
    width: 15%;
    background: #31313D;
    border: 1px #4f4054 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 2px;
    
}

.selectorAldeaEdificioBoton img {
    height: 27px;
    width: 27px;
    border: black 1px solid;
    border-radius: 4px;
    background: transparent;
}


.selectorAldeaCantidad {
    background: #31313D;
    height: 4%;
    margin: 0% 1.8%;
    width: 96.5%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1vw;
    font-weight: 400;
    justify-content: center;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);;
}

.selectorAldeaCantidad button {
    width: 15%;
    height: 80%;
    border: 1px #FD5151 solid;

    transition: all 0.2s;
    
    background: #23232D;
    font-size: 1vw;
    font-weight: 550;
    line-height: 0;
    color: white;
}

.selectorAldeaCantidad button:hover {
    background: #FD5151 !important;

}


.helpingDuck{
background: transparent;
}

.helpingDuck:hover {
    animation: gelatine 0.3s;
     

}


.listaEdificios {
    background: transparent;
    height: 69%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding-top: 1%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 0.2%;
    row-gap: 0.5%;

}

.edificio {

    background: blac;
    height: 27%;
    width: 24%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    transition: 0.2s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);

}

.edificio:hover {



    transform: scale(1.1);
    transition: 0.2s ease-out;
    outline: white solid 1px;
    background: #3E3E4B;
    
    z-index: 2;

}

.edificioS1 {
    background: red;
    height: 80%;
    width: 100%;
    display: flex;
    background: transparent;

}

.edificioS2 {
    outline: white solid 1px;
    background: transparent;
    height: 20%;
    width: 100%;
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;

}

.edificioS2 span {

    color: #7EFF69;
    font-weight: 500;
    background: transparent;
}

.edificioS2 strong {

    color: coral;
    background: transparent;
    font-weight: 500;
}


#contadorRecursosSegundo,
#contadorAlimentoSegundo,
#contadorEnergiaSegundo {
    transition: 0.05s ease;
    color: #7EFF69;
}

#contadorAlmacenamiento,
#contadorAlmacenamiento2,
#contadorAlmacenamiento3 {
    transition: 0.05s ease;
}

.edificioS3 {

    background: blue;
    height: 100%;
    width: 30%;
    display: flex;
    background: transparent;
     background-image: url(img/sys/banner.png);
    margin-right: 3%;
    background-size: contain;





}

.edificioS3 span {

    color: darkgray;
    position: absolute;
    margin: 4px 6px;
    background: transparent;
    transition: 0.5s;
    font-size: 0.7vw;
    z-index: 1;

}

.edificioS3 img {

    margin: 42% 11%;
    background: darkred;
    border-radius: 5px;

    
    
}

.edificioS4 {

    background: magenta;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2% 2% 2% 0%;
    background: transparent;

}

.edificioS4 img {
    height: 16%;
    width: 9%;
    transform: translateY(2px);
    background: transparent;
    border-radius: 3px;
    margin: 0 1%;

}

.edificioS4 p {

    color: white;
    font-size: 0.7vw;
    line-height: 0.8vw;
    background: transparent;
    overflow: visible;
}



.edificioS4 span {

    color: orange;
    font-size: 1vw;
    line-height: 0.8vw;
    background: transparent;
}

.edificioS4 strong {

    background: 26262F;
    padding: 1% 2%;
    font-size: 0.9vw;
    font-weight: 800;
    color: white;
    border-radius: 2px;
    transition: 0.2s;

}



.panelMejoras {

    background: linear-gradient(205deg, rgba(55, 34, 47, 1) 0%, rgba(35, 35, 45, 0.7) 41%, rgba(39, 54, 75, 0.6) 100%);
    height: 100%;
    width: 26%;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    overflow-y: scroll;
}

.panelMejorasTitulo {

    border-bottom: #ff9ed3 solid 1px;
    height: 4%;
    width: 110%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: sticky;
    top: 0%;
    z-index: 4;



}

.panelMejorasTitulo span {

    color: white;
    font-size: 1.5vw;
    background: transparent;
    margin-left: 3%;


}


.panelMejoras button {
    --bg: #e74c3c;
    --text-color: #fff;
    position: relative;
    width: 30%;
    height: 4%;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
    align-self: center;
    margin: 4% 0;
    

}

.panelMejoras button:hover {
    opacity: 1;
}

.panelMejoras button:active {
    top: 0.95%;
    box-shadow: #000 inset 1px 1px 6px;



}




.tituloMejorasComunes {


    background: #4E626C;
    flex-shrink: 0;
    position: sticky;
    top: 6%;
    z-index: 4;
    height: 3%;
    width: 94%;
    margin-top: 3%;
    display: flex;
    border-radius: 2px 2px 0 0;
    align-self: center;
    color: white;
    align-items: center;
    padding-left: 3%;
    font-size: 1vw;
    outline: white solid 1px;

}

.tituloMejorasUnicas {


    background: linear-gradient(274deg, rgba(255, 155, 40, 1) 0%, rgba(53, 57, 80, 1) 65%);
    flex-shrink: 0;
    position: sticky;
    top: 6%;
    z-index: 4;
    height: 3%;
    width: 94%;
    margin-top: 4%;
    display: flex;
    border-radius: 2px 2px 0 0;
    align-self: center;
    color: white;
    align-items: center;
    padding-left: 3%;
    font-size: 1vw;
    outline: white solid 1px;

}

.tituloMejorasComunes img,
.tituloMejorasUnicas img {
    height: 50%;
    margin-left: auto;
    margin-right: 3%;
    transition: 0.2s ease-out;
    background: transparent;
    


}

.panelMejorasComunes {
    outline: white solid 1px;
    max-height: 1000px;
    width: 94%;
    display: flex;
    align-self: center;
    padding: 2%;
    border-radius: 00px 00px 2px 2px;
    background: #31313D;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    transition: 0.1s;
    flex-shrink: 0;
    overflow-y: scroll;
    
}

.mejoraComunSlot {
    border-radius: 2px;
    box-shadow: 0px 11px 11px 1px rgba(0, 0, 0, 0.24) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    border: black solid 1px;
    margin: 0.46%;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.05s;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.mejoraComunSlot img,
.mejoraUnicaSlot img, .itemSlot img{
    height: 100%;
    width: 100%;
    background: transparent;
}

.mejoraComunSlot:hover, .itemSlot:hover{
    transform: scale(1.2);
    transition: 0.1s;
    cursor: url('img/sys/cursorHand.png'),auto !important; 
    z-index: 2;
}

.itemSlot{
    border-radius: 2px;
    background: #31313D;
    box-shadow: 0px 11px 11px 1px rgba(0, 0, 0, 0.24) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    margin: 0.46%;
    height: 2.95vw;
    width: 2.95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.05s;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.mejoraUnicaSlot {
    border-radius: 2px;
    background: linear-gradient(347deg, rgba(36, 95, 110, 1) 0%, rgba(49, 49, 61, 1) 45%);
    box-shadow: 0px 11px 11px 1px rgba(0, 0, 0, 0.24) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    border: #DFB474 solid 1px;
    margin: 0.46%;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    overflow: hidden;
}

.mejoraUnicaSlot:hover:after {

    animation: shine 2s ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%);
}

.mejoraUnicaSlot:hover {

    transform: scale(1.2);
    transition: 0.1s;
     
    z-index: 2;




}

#panelMComunes {}

#townshipContainer { }

#townshipWrapper { flex-direction: row; flex-wrap:wrap; overflow: visible;}

#legislationLine{ border-bottom: solid 1px #9c6744; height: 12%; }
#legislationPanel {height: 50%; width: 49.5%;}
#legislationPanel .separador{width: 90%; align-self: center; margin-top: 5%;}
#legislationPanel .mejoraComunSlot{align-self: center; margin-top: -7%;}
#legislationBanner{ height: auto; text-align: center; color: white; padding: 1.5% 3%; border-radius: 4px; font-size: 0.9vw; margin: 2%; flex-shrink: 0;}
#legislationBanner strong, #legacyBanner strong{color: coral; font-weight: 600;}

#treatiesList{justify-content: center; flex-wrap: nowrap; overflow-x: scroll; height: 20%; width: 90%; gap:0px; margin-top: -9%; background: ; padding-top: 2%; padding-left: 1%; background: transparent; transition: all 0.5s;}
.treatySlot {
    border-radius: 2px;
    background: transparent;
    margin: 0.46%;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    overflow: hidden;
     transition: all 0.5s;
    transition: transform 0.3s ease;

}

.treatySlot img {
    height: 100%;
    width: 100%;
    background: transparent;
    
}
#signButton {
    position: static;
    width: 21%;
    height: 9%;
    border: none;
    background: #333347;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
    opacity: 1;
    letter-spacing: 1px;
    box-shadow: #1b1b30 0px 7px 2px, #000 0px 5px 3px;
    align-self: center;
    margin: 4% 0;
    
    margin-top: 1%;

}
#signButton:hover {
    opacity: 1;
}
#signButton:active {
    box-shadow: #000 inset 1px 1px 6px;
    transform: translateY(7px)
}



#legacyPanel {height: 49.6%; width: 49.5%; transform: translateY(-100.4%) translatex(-50.3%); overflow: visible; filter: brightness(0.3)}
#legacyLine{ border-bottom: solid 1px #dab0eb; height: 12%; width: 100%; border-radius: 4px;}
#legacyBanner{ height: auto; text-align: center; color: white; padding: 1.5% 3% 6%;; border-radius: 4px; font-size: 0.9vw; margin: 2% 0 0 0;}
#endLegacyButton {
    position: absolute;
    top:74%;
    width: 41%;
    height: 13%;
    border: none;
    background-image: url(img/sys/space2.gif);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: black 0px 7px 2px, #000 0px 5px 3px;
    align-self: center;
    margin: 4% 0;
    
    padding-bottom: 2%
    

}
#endLegacyButton:hover {
    opacity: 1;
}
#endLegacyButton:active {
    top: 77.95%;
    box-shadow: #000 inset 1px 1px 6px;
}

#constellationMeter { height: 1%; width: 35%; background: ; border-radius: 2px; align-self: center; position: absolute; top:89.9%; right:32.4%;  z-index: 1}

#constellationProgress{ background: purple; height: 100%; width: 80%; background-image: url(img/sys/space2.gif); background-size: 100%; opacity: 1; background-position: bottom}

#syndicatePanel {height: 100%; width: 49.5%; display: flex; filter: brightness(0.3)}
#syndicateLine{ border-bottom: solid 1px brown; height: 6%; }

#rpgWrapper{flex-wrap:wrap; flex-direction: column }

#explorationPanel{ height: 100%; width: 65%; flex-shrink: 0; }   
#yourTurtlePanel{ height: 59.9%; width: 35%; flex-shrink: 0;}
#travelPanel{ height: 39%; width: 35%; flex-shrink: 0; margin-top: 0.2%;}

#explorationLine{border-bottom: coral 1px solid}
#yourTurtleLine{border-bottom: cyan 1px solid; height: 6.4%}
#travelLine{border-bottom: violet 1px solid; height: 9%}

#rpgBannerTitle{display: flex; height: 3%; width: 99%;margin-bottom: 0.5%; background: #19191C;}
#areaName{color: white;font-size: 1.12vw; padding: 0 1%; background: transparent;}
#areaLevel{color: white; font-size: 0.8vw; background: #D85858; padding: 0 1%; border-radius: 2px;}
#areaMastery{color: #93cdd9; font-size: 0.9vw; background:#262629 ; padding: 0 1%; border-radius: 2px; margin-left: auto; margin-right: 0.6%; margin-top: 0.4%;}
#areaAlert{height: 2vh; width: 1.vw; padding-left: 0.6%;transition: 0.1s all; background: transparent}
#areaAlert:hover{transform: scale(1.2)}
#areaEffect{color: #D85858; padding-left: 1%; background: transparent}

#rpgCanvas{
    background: black;
    height: 30%; 
    width: 99%; 
    align-self:center;
    border-radius: 0.2vw;
    background-image: url(img/src/areas/A1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    gap:20%;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);;
}

.npcSlot{background: transparent; height: 80%; width: 20%;display: flex; flex-direction: column;overflow: visible; position: relative;}

.npcPanel{background: #23232D; height: 20%; width: 100%; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center; gap:10%;border-radius: 0.4vh;margin-top: 5%; font-size: 1.7vh; line-height: 1vw;}

.npcHpBar{height: 10%; width: 90%; background: linear-gradient(90deg, rgba(144,238,111,1) 100%, rgba(255,119,119,1) 100%); border-radius: 2px;}

.npcHpBar:after{background: green}
.npcPanel p, .npcPanel span{background: transparent;}
#turtleLevel, #enemyLevel, #turtleLevel2{color: #D0943A;}

.npcImg{height: 70%; width: 100%; margin-top: auto;overflow: visible; display: flex; justify-content: center; background: transparent;position: relative;}

.npcImg img{height: 120%; background: transparent;z-index: 1}
#playerWeapon {position: absolute; height: 140%; width: 180%; z-index: 1; left: -30%; top: -16%; object-fit: cover;}

.enemy{overflow:visible;background: transparent;position: absolute; height: 140%; left: 1%; top: -42%; animation: enemySpawn 0.5s 1}

#playerAnimation{animation: playerRevivee 1s infinite ease-out}
#enemyAnimation{animation: enemyAttacke 0.5s infinite ease-out}

@keyframes enemyHurt{
    0%{transform: translateX(20px)}
}

@keyframes enemyDefeat{
    90%{ transform: translateX(300px) rotate(100deg); opacity:0}
    100%{ transform: translateX(300px) rotate(100deg); opacity:0}
}


#rpgCanvasUnder{
    background: #19191C;
    height: auto;
    width: 96%;
    align-self: center;
    border-radius: 0 0 1.5vh 1.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    visibility: hidden;
}

#rpgCanvasSkills{
    height: 5vh;
    width: 60%;
    background: transparent;
    margin-top: -9%;
    margin-left: -39%;
    position: absolute;
    display: flex;
    overflow: visible;
    visibility: visible;
}

#magicBar{
    height: 1vh;
    width: 98%;
    background: orange;
    border-radius: 10vw;
    background: linear-gradient(90deg, #6FB1EE 50%, #3F3939 50%);
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    visibility: hidden;
}

.rpgTitle{
    height: 3.6%;
background: rgba(47, 34, 22, 0.77);
    width: 96%;
    align-self: center;
    margin-top: 0.7%;
    border-radius:0.4vh 0.4vh 0 0;
    display: flex;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1%;
    font-size: 1.3vw;
    border-bottom: 0.7px solid #906F48;
}

.rpgPanel{
    height: 26%;
background: rgba(34, 32, 38, 0.77);
    width: 96%;
    align-self: center;
    border-radius: 0 0 0.4vh 0.4vh;
    display: flex;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);
}

#inventory{overflow-x: visible; overflow-y: scroll; padding: 0.5%; flex-wrap: wrap; align-content: flex-start}

.itemCount{ height: 38%; width: auto; background: #191a29; color: white; position: absolute; bottom:0; right: 0; font-weight: 700; border-radius: 3px 0 0 3px; padding: 0 7%;
    
}

#combatLogTitle{border-bottom: 0.7px solid #564890; background: rgba(26, 22, 47, 0.77);}
#combatLog{height: 21%; flex-direction: column; overflow-y: scroll;}
.logMessage{height: 1.6vh; font-size: 1.6vh; width: 98%; background: transparent; color: white; flex-shrink: 0; margin: 0vh 0 0.7vh 0.4vw; overflow: visible;}

#gearWrapper {background: red; height: 6%; width: 95%; display: flex; align-self: center; margin-top: 2%;}

.gearButton{ background: blue; height: 100%; width: 50%; display: flex; justify-content: center; align-items: center; color: white; font-size: 1vw}

#equipmentButton{background: #23232D}
#skillsButton{background: #121216; color: gray}

.gearTab{background: #23232D; height: 82%; width: 95%; align-self: center; display: flex; box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4); align-items: center; flex-direction: column; }

#expPanel{display: flex; background: #19191D; height: 11%; width: 95%; margin-top: 2%; flex-direction: column; position: relative; border: 5px;box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4)}

#expPanelNumbers{height: 50%; width: 30%; color: white; font-size: 1.2vw; overflow: visible; background: transparent; margin-left: 2.5%; margin-top: 0.8%}

#expPanelNumbers span{ background: black; font-weight: 600; padding: 0 4%; border-radius: 0.3vw}

#expPanelNumbers2{height: 50%; width: 30%; position: absolute; right:2.5%; color: #6FD7EE; text-align: right; top: 32%; background: transparent; font-size: 0.8vw}

#expPanelNumbers2 span{ background: transparent; font-size: 0.8vw}

#expBar{ height: 13%; width: 95%; align-self: center; margin-top: auto; margin-bottom: 1%; background: linear-gradient(90deg, #6FB1EE 50%, #3F3939 50%); border-radius: 10vw}

#equipmentFlex{display: flex; background: #19191D; height: 80%; width: 95%; margin-top: 2%; flex-direction: row; position: relative;}

#gearFlex{height: 100%; width: 50%; background: transparent; display: flex; flex-direction: column; align-items: center; justify-content: center;}

#statsFlex {height: 100%; width: 50%; background: transparent; display: flex; flex-direction: column; align-items: center;}

#statsTitle{ height: 8%; width: 90%; background: #3C3C50; color: white; padding-left: 3%; line-height: 1.4vw; margin-top: 5%; border-bottom: 1px solid cyan; border-radius: 0.2vw 0.2vw 0px 0px; font-size: 1vw}

#statsPanel{background: #31313D; width: 90%; height: 85%;box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4); padding-top: 2%; display: flex; flex-direction: column; padding-left: 2%; overflow-y: scroll; gap:1%}

#statsPanel p{color: white; padding-left: 4%; background: transparent; font-size: 0.86vw;}

#statsPanel span {padding-left: 1%; background: transparent}

#statsPanel p:nth-child(1){background: linear-gradient(93deg, rgba(172,74,74,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(2){background: linear-gradient(93deg, rgba(83,162,82,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(3){background: linear-gradient(93deg, rgba(172,131,74,0.6) 0%, rgba(198,107,107,0) 100%);}
#statsPanel p:nth-child(4){background: linear-gradient(93deg, rgba(117,74,172,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(5){background: linear-gradient(93deg, rgba(74,170,172,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(6){background: linear-gradient(93deg, rgba(172,131,74,0.6) 0%, rgba(198,107,107,0) 100%);}
#statsPanel p:nth-child(7){background: linear-gradient(93deg, rgba(117,74,172,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(8){background: linear-gradient(93deg, rgba(74,170,172,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(9){background: linear-gradient(93deg, rgba(168,172,74,0.6) 0%, rgba(198,107,107,0) 100%)}
#statsPanel p:nth-child(10){background: linear-gradient(93deg, rgba(172,74,132,0.6) 0%, rgba(198,107,107,0) 100%)}

.gearRow{width: 90%; background: transparent; height: 21%; display: flex; justify-content: center; align-items: center; gap:4%}
/*--if more slots needed, just make a display hidden one--*/
#rpgHeadSlot{ overflow: visible; }
#rpgChestSlot{ overflow: visible; }
#rpgLegsSlot{ overflow: visible; }
#rpgFeetSlot{ overflow: visible; }
#rpgRingSlot{ overflow: visible; }
#rpgHandsSlot{ overflow: visible; }
#rpgTrinketSlot{ overflow: visible; }
#rpgWeaponSlot{ overflow: visible; }

.dragged{opacity: 0.7; position: absolute; z-index: 99;}
.draggedActive{opacity: 1; position: absolute; z-index: 99; box-shadow: white 0px 0px 10px}

#playerBuffWrapper{background: transparent; position: absolute; height: 65%; width: 100%; left: -100%; bottom: 4%; display: flex; flex-direction: column;  flex-wrap: wrap-reverse; align-content: flex-start}

.playerBuffIcon{
    border-radius: 2px;
    background: #31313D;
    box-shadow: 0px 11px 11px 1px rgba(0, 0, 0, 0.24) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
    border: #83e781 solid 1px;
    margin: 1.5%;
    height: 2vw;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-left: auto;
    animation: growFadeIn 0.2s 1;
}

.playerBuffTimer{
  transform-origin: top;
  width: 100%;
  height: 100%;
  background:  linear-gradient(180deg, rgba(0,0,0,0.5) 50%, rgba(74,74,74,0) 50%);
  position:absolute;
  pointer-events: none;
}

.playerBuffIcon:hover{
    transform: scale(1.1)
    
}

.playerBuffIcon img{
    height: 100%;
    width: 100%;
    background: transparent;
}

 #travelWrapper {background: red; height: 9%; width: 95%; display: flex; align-self: center; margin-top: 2%;}  

#areaButton{background: #23232D; height: }
#dungeonButton{background: #121216; color: gray}
#shopButton{background: #121216; color: gray}

.travelTab{background: #23232D; height: 74%; width: 95%; align-self: center; display: flex; box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4); flex-direction: row; flex-wrap: wrap; align-content: flex-start; justify-content: center; gap: 1%; padding-top: 2%; overflow-y: scroll;}

.areaPanel{ background: #36363F; height: 30%; width: 32%; margin-bottom: 0.6%; border-top: white 1px solid; flex-shrink: 0; transition: 0.1s; display: flex;}
.areaPanel:hover{scale:1.06; border-top: #88bffc 1px solid; filter: brightness(1.1); box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.3);}

.areaPanel1{height: 100%; background: transparent; width: 40%; display: flex; align-items: center; justify-content: center;}
.areaPanel2{height: 100%; background: transparent; width: 60%; display: flex; flex-direction: row; flex-wrap: wrap;}

.areaPanelSelect{ background: #525275; height: 30%; width: 32%; margin-bottom: 0.6%; border-top: white 1px solid; flex-shrink: 0; transition: 0.1s; display: flex; scale:1.04; animation: growFadeIn 0.2s 1}

.areaImage {
    border-radius: 2px;
    border: white solid 1px;
    margin: 0.46%;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.05s;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.areaImage img{
    height: 100%;
    width: 100%;
    background: transparent;
}

.areaPanelName{ font-size: 0.8vw; margin-top: 6%; color: white; font-weight: 600; background: transparent; line-height: 0.8vw; margin-bottom: -2%
}

.areaPanelLevel{ font-size: 0.8vw; color: white; font-weight: 600; background: #D85858; height: 27%;  width: 50%; margin-right: 4%; display: flex; justify-content: center; align-items: center; border-radius: 0.1vw
}

.areaPanelMastery{ font-size: 0.8vw; color: #93cdd9; font-weight: 600; background: #262629; height: 30%;  width: 43%; display: flex; justify-content: center; align-items: center; border-radius: 0.1vw; margin-top: -1%
}
/*------------------ANIMACIONES--------------------*/

@keyframes desvanecerPanel {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes aparecerPanel {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes enemySpawn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes buyAnimation {

    0% {
        transform: scale(1);
        transform: rotate(2deg);
    }

    20% {}

    25% {

        filter: brightness(1.2);
        transform: rotate(-2deg);
    }

    100% {
        transform: scale(1.1) rotate(0deg);
        filter: brightness(1);
    }
}

@keyframes noBuyAnimation {

    0% {
        transform: scale(1.1);

    }

    25% {
        transform: translateX(-10px) scale(1.1);

    }

    45% {
        transform: translateX(5px) scale(1.1);


    }

    100% {
        transform: scale(1.1);

    }
}

@keyframes buyUpgradeAnimation {


    0% {
        transform: scale(1) rotate(0deg)
    }

    100% {
        transform: scale(0) rotate(20deg);
    }
}


@keyframes gameSaved {
    0% {
        opacity: 0;
        /* Inicio: invisible */
        top: 0;
        /* Posición inicial */
    }

    50% {
        opacity: 0.5;
        /* Mitad de la animación: visible */
        top: -50px;
        /* Desplazamiento hacia arriba */
    }

    60% {
        opacity: 0.5;
        /* Mantener visible por 1 segundo */
        top: -50px;
        /* Mantener posición */
    }

    100% {
        opacity: 0;
        /* Fin: invisible */
        top: 10px;
        /* Desplazamiento hacia abajo */
    }
}

@keyframes shine {
    20% {
        opacity: 1;
        top: -10%;
        left: -10%;
        transition-property: left, top, opacity;
        transition-duration: 0.3s, 0.3s, 0.1s;
        transition-timing-function: ease;
    }

    50% {
        opacity: 0;
        top: 0%;
        left: 0%;
        transition-property: left, top, opacity;
    }
}

@keyframes bounceFade {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(0.85);
        opacity: 0.85;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    75% {
        transform: scale(0.9);
        opacity: 0.9;
    }

    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes textoclick {
    0% {
        color: #ee6055;
    }

    50% {
        color: #60d394;
    }

    100% {
        color: #ee6055;
    }

}

@keyframes shrinkFadeOut {
  0%  { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.5; }
  70% { transform: scale(1.0); opacity: 0.3; }
  85% { transform: scale(0.9); opacity: 0;}
  100%{ transform: scale(0.6); opacity: 0;} }

@keyframes growFadeIn {
  0% { transform: scale(0.9); opacity: 0; }
  30% { transform: scale(1.0);  }
  50% { transform: scale(1.05); opacity: 0.7;  }
  100% { transform: scale(1); opacity: 1; } }

@keyframes achievementUnlock {
  0% { transform: scale(0.9); opacity: 0; }
  3% { transform: scale(1.0);  }
  7% { transform: scale(1.05); opacity: 0.7;  }
    8% {filter: brightness(1.4)}    
  20% { opacity: 1; }
    40% { filter: brightness(1.0);}
    60% {transform: scale(1); }
    61% {top: 0px; opacity: 1;}
    80%{top: 30px; opacity: 0;}
}

@keyframes playerAttack{
    0% {transform: translateX(0px)}
    20% {transform: translateX(50%) rotate(10deg)}
    100% {transform: translateX(0px) rotate(0deg)}
}

@keyframes enemyAttack{
    0% {transform: translateX(0px)}
    20% {transform: translateX(-50%) rotate(-10deg)}
    100% {transform: translateX(0px) rotate(0deg)}
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

@keyframes playerDeath{
    0% {transform: translateY(0px)}
    20% {transform: translateY(-50%) rotateX(180deg)}
    40% {transform: translateY(35%) rotateX(180deg)}
    100% {transform: translateY(35%) rotateX(180deg)}
}

@keyframes playerRevive{
    0% {transform: translateY(35%) rotateX(180deg)}
    20% {transform: translateY(-50%) }
    40% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
}

@keyframes levelUp {
    
    0% { background: #92dfe8; scale:1.1}
    50% { background: #19191D; scale: 1}
    
}